*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root{
    --bg-color: #293562;
    --second-bg-color: #000;
    --text-color: #fff;
    --second-color: #fff;
    --main-color: #ff4d05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}
.logoDiv{
    /* border: 2px solid; */
    height: 100px;
    width: 150px;
}
body{
    color: white;
    background: var(--bg-color);
}

.nav-bg{
    background-color: rgb(21 11 42); 
    background-image: linear-gradient(to right, rgb(21 11 42), rgb(20, 18, 73));
    color: white !important;
}
.logoDiv{
    /* border: 2px solid; */
    height: 100px;
    width: 150px;
}
.logo{
    width: 100%;
    height: 115%;
}
.mogcoin{
    padding-top: 5px;
    font-size: 1rem;
    padding-bottom: 5px;
}
.nav-margin{
    margin-right: 100px;
}
a.nav-link{
    font-size: 1rem;
    padding-right: 41px !important;
}
a.nav-link:hover{
    color:  rgb(21, 21, 117) !important;
    text-shadow: 2px 2px #fff;
}

/* ////////// header responsive ness ///////// */
@media screen and (max-width: 1250px){
    .mogcoin {
        font-size: 1.2rem;
    }
    .nav-margin {
        margin-right: 64px;
    }
    a.nav-link {
        font-size: 1.2rem;
        padding-right: 21px !important;
    }
}
@media screen and (max-width: 800px){
    .logoDiv {
        width: 128px;
    }
    .mogcoin {
        padding-right: 71px;
    }
    .padding{
        padding-top: 35px;
    }

}
@media screen and (max-width: 430px){
    .logoDiv {
        width: 80px;
        height: 70px;
    }

}
@media screen and (max-width: 380px){
    .mogcoin {
        padding-right: 25px;
        font-size: 0.8rem;
    }

}

/* //////// home section ////////// */
.home{
    background-color: rgb(21 11 42);
    background-image: url("https://i.ibb.co/RTRKBTQj/banana-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 230px;
    overflow-x: hidden;
    height: auto;
}
.text-div {
    padding-left: 150px;
}
.text-div h2 {
    padding-top: 75px;
    font-size: 2rem;
}
.mogcoin-text{
    font-size: 6rem;
    text-shadow: -6px -4px 0px blue;
}
.memeText{
    font-size: 4rem;
    text-shadow: -6px -4px 0px blue;
}
.future{
    font-size: 2.5rem;
    text-shadow: -2px -2px 0px gold;
}
.row-height{
    padding-bottom: 50px;
    overflow: hidden;
}
.image img{
    padding-left: 200px;
}
/* ///// media query for home section ///////// */
@media screen and (max-width: 1050px){
    .image img {
        padding-left: 100px;
    }
    .text-div {
        padding-left: 50px;
    }
    .image img {
        padding-left: 58px;
    }
}
@media screen and (max-width: 800px){
    .img-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image img {
        padding-left: 30px;
        transform: scale(0.9);
    }
    .text-div h2 {
        font-size: 2rem;
    }
    .mogcoin-text {
        font-size: 3rem;
    }
    .memeText {
        font-size: 2rem;
    }
    .btc-coin img{
        height: 100%;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 500px){
    .home {
        padding-top: 67px;
    }
    
    .image img {
        padding-left: 0px;
    }
    .text-div {
        padding-left: 40px;
    }
    .text-div h2 {
        padding-top: 100px;
    }

}
/* //////////about section /////////// */
.sol-coin img{
    padding-top: 90px;
}
.about-p{
    padding-top: 140px;
    font-size: 1.5rem;
}

/* ///////// media query for about section ///////////////// */
@media screen and (max-width: 1050px){
    .sol-coin img {
        padding-top: 97px;
    }
    .about-p {
        padding-top: 100px;
        font-size: 1rem;
    }
}
@media screen and (max-width: 800px){
    .about-p {
        padding-top: 95px;
    }
}
@media screen and (max-width: 500px) {
    .sol-coin img {
        padding-top: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .about-p {
        padding-top: 48px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* ///////// how to buy section /////////// */
.margin-middle{
    border-left: 2px solid yellow;
}
.yellow{
    color: yellow;
}
.clipboard{
    font-size: 25px;
    color: rgb(181, 181, 31);
    overflow: hidden;
}
.clipboard:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: transform 0.6s ease;
}
.dt-font{
    font-size: 25px;
}
/* ////// media query for buy section ///////// */
@media screen and (max-width: 800px){
    .dt-font{
        font-size: 16px;
    }
    .clipboard{
        font-size: 20px;
    }
    .yellow{
        overflow: scroll;
    }
    .buy-banana{
        font-size: 20px;
    }
}
@media screen and (max-width: 500px){
    .illustration-image{
        scale: 0.8;
    }
    .padding-buy{
        padding-left: 30px;
        padding-right: 20px;
    }
}
/* ////////// slider section ////////// */
.slider{
    background-color: rgb(21 11 42); 
    background-image: linear-gradient(to right, rgb(21 11 42), rgb(20, 18, 73));
    color: white !important;
    /* height: 500px; */
    margin-top: 20px;
    padding-top: 200px;
    padding-bottom: 200px;
}
/* ///////media query for slider ////////// */
@media screen and (max-width: 800px) {
    .slider {
        padding-top: 95px;
        padding-bottom: 83px;
    }
    .faqText{
        padding-top: 45px;
    }
    .faqText1{
        padding-right: 100px;
    }
    .faqText2{
        padding-left: 100px;
    }
}
@media screen and (max-width: 500px) {
    .carousel-item {
        min-height: 300px;
    }    
    .faqText{
        padding-top: 0;
    }
    .faqText1{
        padding-right: 0;
        padding-top: 10px;
    }
    .faqText2{
        padding-left: 0;
        padding-top: 10px;
    }
    .fbanana{
        font-size: 1.5rem;
    }
}
/* /////// footer section ////// */
footer{
    background: var(--second-bg-color);
    height: 300px;
}
.icon-div{
    padding-top: 100px;
}
.media{
    font-size: 50px;
    overflow: hidden;
}
.media:hover{
    cursor: pointer;
    transform: rotate(360deg);
    transition: transform 0.6s ease;
    overflow: hidden;
}